interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://cdn.real.discount/api/courses?page=1&limit=500&sortBy=sale_start&store=Udemy&freeOnly=true
  response:
    body:
      string: "{\"items\":[{\"id\":78834,\"name\":\"Adobe Photoshop: Ultimate Guide
        to Photo Editing and Design\",\"description\":\"<p><strong>Adobe Photoshop:
        Ultimate Guide to Photo Editing and Design</strong></p><p><br></p><p>Adobe
        Photoshop: Ultimate Guide to Photo Editing &amp; Design is your complete,
        step by step program for mastering the world\u2019s most powerful photo editing
        and graphic design software. Whether you're a complete beginner or someone
        who has opened Photoshop before but felt overwhelmed, this course will guide
        you from the fundamentals to advanced, professional techniques with clarity
        and confidence.</p><p><br></p><p>You\u2019ll begin by learning how to navigate
        the Photoshop interface, understand essential tools and work efficiently with
        layers, selections, masks and adjustments. Instead of just memorizing tools,
        you\u2019ll understand how and when to use them in real-world situations.
        Every concept is explained in a practical, beginner friendly way so you can
        build a strong foundation that supports advanced creativity.</p><p><br></p><p>Beyond
        photo editing, this course dives into graphic design projects that help you
        create eye catching social media graphics, YouTube thumbnails, posters, banners
        and marketing materials. You\u2019ll explore typography, layout design, shapes,
        text effects and composition techniques that make your work stand out. These
        practical projects help you build confidence and develop a portfolio along
        the way.</p><p><br></p><p><strong>Why This Course Is Different:</strong></p><ul><li><p>Beginner
        friendly, step by step lessons</p></li><li><p>Real-world projects you can
        add to your portfolio</p></li><li><p>Practical techniques used by professionals</p></li><li><p>Clear
        explanations \u2014 no confusing jargon</p></li><li><p>Lifetime access</p></li></ul><p><br></p><p>You\u2019ll
        also explore advanced techniques such as photo manipulation and compositing,
        where you\u2019ll combine multiple images into seamless, professional artwork.
        Learn how to match lighting, add shadows, create depth and bring creative
        concepts to life. These skills are highly valuable for freelancers, content
        creators and digital artists.</p><p><br></p><p>This course is designed for
        photographers, designers, entrepreneurs, content creators, students and anyone
        who wants to transform ideas into stunning visuals. No prior experience is
        required\u2014just a computer and a willingness to learn. Each lesson is structured
        to help you practice and apply what you learn immediately.</p><p><br></p><p>By
        the end of this course, you\u2019ll confidently use Adobe Photoshop to edit
        photos, create professional designs and handle real-world creative projects
        with skill and creativity. </p><p><br></p><p>Enroll today and start building
        the expertise that turns imagination into impactful visual art.</p>\",\"price\":19.99,\"sale_price\":0,\"sale_start\":\"2026-04-12
        04:27:51\",\"lectures\":2.5,\"views\":372,\"rating\":0,\"image\":\"https://img-c.udemycdn.com/course/750x422/7052623_d61d_2.jpg\",\"url\":\"https://www.udemy.com/course/adobe-photoshop-ultimate-guide-to-photo-editing-and-design/?couponCode=19A60B5F43413A936FB2\",\"store\":\"Udemy\",\"type\":\"external\",\"slug\":\"adobe-photoshop-ultimate-guide-to-photo-editing-an-974\",\"category\":\"Design\",\"subcategory\":\"Graphic
        Design & Illustration\",\"language\":\"English\"},{\"id\":78378,\"name\":\"MySQL
        & Database Management: Create, Manage & Query Database\",\"description\":\"<p><strong>MySQL
        &amp; Database Management: Create, Manage &amp; Query Database</strong></p><p><br></p><p>Master
        the skills needed to work with databases professionally with MySQL &amp; Database
        Management: Create, Manage &amp; Query Database. This comprehensive course
        takes you from the basics of MySQL to advanced database management techniques,
        empowering you to create, manage, and query databases with confidence.</p><p><br></p><p>Whether
        you\u2019re a beginner wanting to start a career in database administration,
        a developer looking to enhance your backend skills, or an analyst who works
        with data, this course provides practical, hands-on experience with [...]
